API_ID=123456 # get this value from my.telegram.org
API_HASH=1abcd2efhs93u39 # get this value from my.telegram.org
BOT_TOKEN=1263725637:ghsdvkhsvchsuhdc # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://abc:abc@music.dlua0.mongodb.net/ramdi?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001234567890 # get this value from in your log group 
MUSIC_BOT_NAME=ramdi # your music bot name 
STRING_SESSION=BQB4kTiGxZ4v_L0NOYvR5eVVp8-N7mh1BSowyw_itcnyLmzEZVj-8UtnreKuzC2ax7yFFoNc-11WJJ0UfvHap4m9oP3BNFNc0f0mAe5Qqf4DEYJoNsYMgf_l7i0ifCHmvGflRnZe0qrgaRqnz96CiK5CtETYz_P_LrAg4EkN_zVBy956b62lkvEda8cxsbAbiNIL4BqpAHRqSlCDTr0whRltBL-xXBaKjJmRoPWoFWZTxULz2P2lr2_6xQkX7dF9QkDleFZgvL3RI8RYknqm1RoSrALgdgBsvFa3e8yNS5PXmRfC6MQ3dqnmO5U6GORnGFFqK_VW0vsa3suxC5zeVtb3fU8GlQA
